*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
#loader{
    height: 100%;
    width: 100%;
    position: absolute;
   background-color: black;
   z-index: 99;
   animation-name: load;
   animation-duration: 2s;
   animation-fill-mode: forwards;
}
@keyframes load {
    0%{
        transform: translateY(-100%);
        opacity: 1;
    }
    50%{
        transform: translateY(0%);
        opacity: 1;
    }
    100%{
        transform: translateY(200%);
        opacity: 0;
    }
    
}

#main{
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #dadada;
}
#main h1{
    font-size: 120px;
    text-transform: uppercase;
    font-weight: 530;
}
#main #text{
    position: absolute;
    top: 33%;
    left: 24%;
    transform: translate(-50%,-50%);
    line-height: 1;
    width: 60%;
    animation-name: center;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity: 0;
}

#text1 #a{
    top: 15%;
    left: 33%;
    transform: translate(-50%,-50%);
  position: absolute;
  animation-name: center;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  opacity: 0;
}
#text1 #b{
    top: 62%;
    left: 33%;
    transform: translate(-50%,-50%);
  position: absolute;
  animation-name: center;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  opacity: 0;
}


#toptext h5{
    position: absolute;
    top: 7%;
    left: 43%;
    animation-name: top;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity: 0;
}
#toptext h4{
    position: absolute;
    top: 13%;
    left: 42%;
    color: orangered;
    text-transform: uppercase;
    animation-name: top;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity: 0;
}
#righttext{
    position: absolute;
    right: 8%;
    top: 5%;
    letter-spacing: 6px;
    opacity: .5;
    animation-name: top;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity: 0;
}
#righttext h6{
   margin-top: 5px;
}

@keyframes center {
    0%{
        transform: translateY(150%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
    
}
@keyframes top {
    0%{
        transform: translateY(-50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
    
}

#btmtxt h1{
    position: absolute;
    transform: translate(-50%,-50%);
     top: -10%;
    left: 0%;
    font-size: 150px;
    white-space: nowrap;
    animation-name: bottom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    opacity: 0;
    color: rgba(231, 111, 90, 0.648);
}
@keyframes bottom {
    0%{
        transform: translateX(150%);
        opacity: 0;
    }
    50%{
        transform: translateX(0%);
        opacity: 1;
    }
    100%{
        transform: translateX(-100%);
        opacity: 0;
    }
}
#m img{
    height: 240px;
    width: 170px;
    position: absolute;
    top: 20%;
    left: 16%;
    animation-name: imgload;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity: 0;
}
#n img{
    height: 180px;
    width: 120px;
    position: absolute;
    top: 12%;
    left: 66%;
    animation-name: imgload;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity: 0;
}
#k img{
    height: 140px;
    width: 100px;
    position: absolute;
    top: 47%;
    left: 34%;
    animation-name: imgload;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity: 0;
}
@keyframes imgload {
    0%{
        transform: translateY(-50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
#btmtxt i{
          position: absolute;
          top: 20%;
          left: 50%;
          font-size: 30px;
          animation-name: top;
          animation-duration: 2s;
          animation-fill-mode: forwards;
          animation-delay: 5s;
          opacity: 0;
          color:#fff;
}
#btmtxt h6{
    position: absolute;
    top: 45%;
    left: 47%;
    font-size: 15px;
    animation-name: top;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 5s;
    color: #fff;
    opacity: 0;
}
#nav{
    height: 140px;
    width: 100%;
    background-color: black;
    top: 81%;
    position: relative;
    opacity: 0;
    animation-name: center;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes navanim {
    0%{
        transform: translateY(200%);
        opacity: 0;
    }
    99%{
        transform: translateY(0%);
        opacity: 0;
    }
    100%{
            transform: translateY(0%);
            opacity: 1;
        }
    }
    
